.env
client_secret.json
youtube-data-*.json
/src-tauri/extensions/*
!/src-tauri/extensions/chapter-clipper/
!/src-tauri/extensions/chapter-clipper/**
/node_modules/
/dist/
/src-tauri/target/
/apps/
*.log
mediav-460b1be2565e.json
/winforms/**/bin/
/winforms/**/obj/
/winforms/*.pdf
/dist-portable/
